.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

/* Estilo del filtro  */
.filterDiv {
  display: none;
}

.show {
  display: block;
}

.container {
  overflow: hidden;
}

/* Estilo de los botones */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: lightgrey;
  border-color: #27251F;
  cursor: pointer;
}

.btn:hover {
  background-color: #FFC72C;
  color: #27251F;
  border-color: #27251F;
}

.btn.active {
  background-color: #F2A900;
  color: rgb(240, 209, 110);
  border-color: #27251F;
}
/*Estilo del footer de Tatiana y M angeles*/

#footer{
width:95%;
background-color:#F2A900;
text-align:justify;
margin-left:3%;
vertical-align:top;
padding:1%; 
}
.borde {
	border-color:#351f03;
	border-style:Solid;
	border-width:3px;
	border-radius:8px;
	}
#box4{
width:18%;
display:inline-block;
  vertical-align:top;
padding:1%;	
text-align:justify;
}

#footer a{ 
  color: #351f03;
} 
#footer a:hover{
  color: #af672c;
}
#footer h5{
  color: #351f03;
}